{
  "extends": "airbnb",
  "globals": {
    "beforeAll": true,
    "describe": true,
    "document": true,
    "expect": true,
    "fetch": true,
    "fit": true,
    "google": true,
    "localStorage": true,
    "it": true,
    "xit": true,
    "window": true
  },
  "rules": {
    "no-console": ["error", {
      "allow": ["group", "groupEnd", "info", "error", "warn"]
    }],
    "react/jsx-filename-extension": 0,
  }
}
