.footer {
  width: 100%;
}

.footer-divider {
  background: url(../../assets/images/divider-line.png) center bottom no-repeat;
  clear: both;
  display: block;
  margin-bottom: 35px;
  padding-top: 38px;
  width: 100%;
}
